<section class="guest-card" aria-labelledby="recover-id-heading">
  <h1 id="recover-id-heading" class="guest-card__title">Recover Internet ID</h1>
  <p class="guest-card__lead">
    We are designing a refreshed process for finding your Internet ID. For now, use the classic workflow to look up
    your credentials.
  </p>
  <p class="guest-card__lead">
    You will need an alternate email address or other verifying information to complete the legacy steps.
  </p>
  <div class="guest-card__actions">
    <a
      class="guest-card__link"
      href="https://my-account.umn.edu/recover-internet-id"
      target="_blank"
      rel="noopener noreferrer"
    >
      Recover Internet ID (legacy)
    </a>
  </div>
</section>
